[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}
